doctype html
html
  head
    title pugp
    block scripts
    block style
  body
    nav#navbar
        ul
           div#logo
            img(src="../static/logo.jpeg")
            li #[a Home]
            li #[a About]
            li #[a Services]
            li #[a Info]
            li #[a Contact us]

    block content
    footer#footer
        copywrite &copy; 2020, its all mine.
           