@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
#logo img{
    height: 40px;
    filter: invert(1);

}

#navbar{
    padding: 18px 14px;
    background-color: rgb(39, 7, 7);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Code Pro', monospace;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#navbar li{
    list-style: none;

}

#navbar li a{
    text-decoration: none;
    padding: 14px 36px;
    color: white;
    font-size: 1.1rem;
    
}

#navbar li a:hover{
    color: skyblue;
    cursor: pointer;

}

#introsec{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-bottom: 30px;
    background: center / cover no-repeat url("/static/bg.jpg");
    height: 300px;
    background-color: red;
}
#introsec div.small{
    font-size: 32px;
    padding: 4px;
}
#goals{
    background-color: rgb(247, 189, 189);
    height: 347px;
    width: 100%;
    margin: auto;
 

}

#goals h2{
    
    text-align: center;
    padding-top: 12px;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;

}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin: 23px 20px;
    height: 220px;
    background-color: rgb(240, 170, 168);
}

.card h3{
    text-align: center;
    margin: 6px;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
}

.card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.card-img{
    height: 100px;
    padding: 0 14px;
    margin: 1pc 5px;
}

.card-img img{
    height: inherit;
}
.card-content{
    padding: 0 5px;

}
.card-content p{
    font-size: 18px;

}

}
#secsec h2{
    color: whitesmoke;
    text-align: center;
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;

}
#footer{
    height: 30px;
    background-color: black;
    color: whitesmoke;
    padding: 9px 20px;
    text-align: center;

}
